fastapi==0.128.0
langchain-core==1.2.7
langchain-google-genai==4.2.0
langgraph==1.0.6
langgraph-checkpoint==4.0.0
langgraph-prebuilt==1.0.6
mcp==1.25.0
neo4j==6.1.0
pydantic==2.12.5
python-dotenv==1.2.1
tavily-python==0.7.19
uvicorn==0.40.0
